body {
  background-color: #fffbff;
  min-width: 1440px;
  font-family: PingFang SC;
}

#header {
  height: 88px;
  margin-bottom: 48px;
}

#header .logo {
  margin-left: 100px;
  margin-top: 24px;
  float: left;
}

#header .nav-box {
  margin-left: 92px;
  float: left;
  font-size: 20px;
  padding-top: 34px;
}

#header .nav-box li {
  float: left;
  margin-right: 72px;
}

#header .nav-box li:last-child {
  margin-right: 0;
}

#header .btn-box {
  width: 162px;
  float: right;
  padding-top: 30px;
  margin-right: 98px;
}

#header .common-btn {
  width: 73px;
  height: 36px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 25px;
  display: block;
  line-height: 36px;
  float: right;

}

#header .btn-box .login-btn {
  margin-right: 16px;
  border: 1px solid black;
}

#header .btn-box .register-btn {
  border: 1px solid blue;
  background-color: blue;
  color: white;
}

#banner {
  position: relative;
  margin: 0 auto 154px;
  width: 1440px;
}

#banner .logo {
  margin-bottom: 24px;
}

#banner .title {
  display: block;
  margin-bottom: 32px;
}

#banner .desc {
  margin-bottom: 41px;
  width: 169px;
  color: rgb(92, 93, 114);
}

#banner .link {
  display: block;
  width: 133px;
  height: 48px;
  background-color: blue;
  color: white;
  line-height: 48px;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 81px;
  padding-left: 36px;
  position: relative;
}

#banner .link:after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url('./images/arrow_right.svg');
  position: absolute;
  right: 36px;
  top: 12px;
}

#banner .up_icon {
  display: block;
  margin-bottom: 24px;
}

#banner .number {
  font-size: 200px;
  position: absolute;
  bottom: -55px;
  left: 112px;
  color: #f5f2ff;
}

#banner .banner_small {
  position: absolute;
  bottom: 0;
  left: 383px;
  z-index: 2;
}

#banner .banner_small01 {
  position: absolute;
  bottom: 0;
  right: -50px;
  z-index: 2;
}

#banner .banner_small02 {
  position: absolute;
  bottom: 0;
  left: 383px;
  top: -50px;
  z-index: 2;
}

#banner .banner_big {
  position: absolute;
  top: 0;
  right: 34px;
  width: 900px;
}

.main-title {
  font-size: 68px;
  font-weight: 600;
  margin-bottom: 12px;
}

.main-desc {
  font-size: 20px;
  font-weight: 400;
  color: rgb(92, 93, 114);
  margin-bottom: 48px;
}

#brand {
  width: 1440px;
  height: 10px;
  margin: 0 auto 176px;
  font-size: 20px;
}

#brand .item-box {
  float: left;
  margin-right: 88px;
  align-items: center;
}

#brand .item-box img {
  width: 48px;
  margin-right: 8px;
  vertical-align: middle;
}

#brand .item-box:last-child {
  margin-right: 0;
}

#benefit {
  width: 1440px;
  margin: 0 auto 180px;
}

#benefit .main-title {
  margin-bottom: 48px;
}

#benefit .list {
  display: flex;
}

#benefit .list .item-box {
  flex: 1;
  width: 453px;
  padding: 40px 48px;
  margin-right: 40px;
  height: 308px;
  box-sizing: border-box;
  background: rgba(53, 62, 251, 0.05);
  border-radius: 20px;
}

#benefit .list .item-box:last-child {
  margin-right: 0;
}

#benefit .list .item-box .top-title {
  color: rgb(53, 62, 251);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

#benefit .list .item-box .top-desc {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgb(228, 225, 236);
}

#benefit .list .item-box .top-desc span {
  font-size: 14px;
  margin-left: 16px;
}

#benefit .list .item-box .bottom-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

#benefit .list .item-box .bottom-desc {
  font-size: 14px;
  line-height: 22px;
}

#scene {
  width: 1440px;
  margin: 0 auto;
}

#scene .list {
  display: flex;
}

#scene .list .item-box {
  flex: 1;
  width: 453px;
  padding: 78px 0;
  margin-right: 40px;
  height: 308px;
  text-align: center;
  box-sizing: border-box;
  background: rgba(53, 62, 251, 0.05);
  border-radius: 20px;
}

#scene .list .item-box:last-child {
  margin-right: 0;
}

#scene .list .item-box .title {
  font-size: 24px;
  margin-bottom: 24px;
}



#content {
  width: 1440px;
  margin: 0 auto 180px;
}

#content .main-title {
  margin-top: 180px;
}

#content .list {
  display: flex;
}

#content .list .item-box .image{
  width: 453px;
  height: 280px;
  margin-right: 40px;
  height: 308px;

}

#service {
  position: relative;
}

#service .list {
  display: flex;
  flex-wrap: wrap;
}

#service .list .item {
  width: 20%;
  height: 361px;
  border: 1px solid rgb(207, 207, 207);
  border-right: none;
  border-top: none;
  padding: 72px;
  box-sizing: border-box;
}

#service .list .top-border {
  border-top: 1px solid rgb(207, 207, 207);
}

#service .list .item .title {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 500px;
}

#service .list .item .desc {
  line-height: 32px;
}

#service .list .item2 {
  width: 40%;
  padding-top: 18px;
  text-align: center;
  background-color: rgb(225, 224, 250);
}

#service .list .item2 .title {
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 24px;
}

#service .list .item2 .desc {
  font-size: 24px;
  color: rgb(92, 93, 114);
  margin-bottom: 24px;
}

#service .list .item2 .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
  margin: 0 auto;
}

#bottom  {
  width: 100%;
  padding-top: 80px;
  background: rgba(53, 62, 251, 0.08);
}

#bottom .inner{
  width: 1092px;
  height: 422px;
  margin: 0 auto;
}

#bottom .inner .box {
  float: left;
}
#bottom .inner .box1 {
  width: 310px;
  margin-right: 66px;
}

#bottom .inner .box1 .title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 34px;
}

#bottom .inner .box1 .image {
  width: 60px;
  height: 12px;
}

#bottom .inner .box1 .desc {
  margin-bottom: 8px;
}

#bottom .inner .box2 {
  margin-right: 22px;
}

#bottom .inner .box2 .item {
  float: left;
  margin-right: 40px;
}

#bottom .inner .box2 .item img {
  margin-bottom: 12px;
}

#bottom .inner .box2 .item p {
  text-align: center;
}

#bottom .inner .box3  {
  margin-right: 120px;
}

#bottom .inner .box3 .title{
  font-size: 16px;
  margin-bottom: 32px;
}

#bottom .inner .box3 li {
  margin-bottom: 12px;
}

#bottom .inner .box4 {
  margin-right: 0;
}